@-webkit-keyframes new {
    from { background-color: $grey-lighter; }
    to { background-color: inherit; }
}
@-moz-keyframes new {
    from { background-color: $grey-lighter; }
    to { background-color: inherit; }
}
@-o-keyframes new {
    from { background-color: $grey-lighter; }
    to { background-color: inherit; }
}
@keyframes new {
    from { background-color: $grey-lighter; }
    to { background-color: inherit; }
}
tr.new {
    -webkit-animation: new 3s 1; /* Safari 4+ */
    -moz-animation:    new 3s 1; /* Fx 5+ */
    -o-animation:      new 3s 1; /* Opera 12+ */
    animation:         new 3s 1; /* IE 10+ */
}